<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Businesses
                            </h1>
                            <div class="page-header-subtitle">A list of all the businesses</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Businesses
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Business Name</th>
                                    <th>Owner Name</th>
                                    <th>Category</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                    <th>Number</th>
                                    <th>URL</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>African American</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="15">
                                        <content-placeholders :rounded="true">
                                            <content-placeholders-heading :img="true" />
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="business in businesses" v-bind:key="business.id">
                                    <td>{{ business.id }}</td>
                                    <td>{{ business.name }}</td>
                                    <td>{{ business.user_name }}</td>
                                    <td>{{ business.category }}</td>
                                    <td>{{ business.address }}</td>
                                    <td>{{ business.city }}</td>
                                    <td>{{ business.state }}</td>
                                    <td>{{ business.zip }}</td>
                                    <td>{{ business.number }}</td>
                                    <td><a :href="business.url" target="_blank">{{ business.url }}</a></td>
                                    <td>
                                        <a :href="business.image" target="_blank">
                                            <img :src="business.image" alt="" width="200px"
                                            height="150px">
                                        </a>
                                    </td>
                                    <td>{{ business.description }}</td>
                                    <td>{{ business.african_american_owned ? "Yes" : "No" }}</td>
                                    <td>{{ business.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button v-if="business.role != 'admin'" @click="deletebusiness(business.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                businesses: {},
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchbusinesses();
        },

        methods: {
            
            fetchbusinesses() {
                axios.get(this.$host_url + '/businesses')
                    .then(res => {
                        this.isloading = false;
                        this.businesses = res.data.data.businesses;
                        console.log(res.data.data);
                    })
            },

            deletebusiness(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/business/delete/${id}`)
                        .then(res => {
                            alert('business Deleted!');
                            this.fetchbusinesses();
                        })
                        .catch(error => alert(error));
                }
            },
        },
    }
</script>

<style>

</style>