<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="star"></i></div>
                                    New Variation
                                </h1>
                                <div class="page-header-subtitle">Add New Variation</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <div class="container mt-n10">
            <div class="card">
                    <div class="card-header">New Variation</div>
                    <div class="card-body">
                        <form @submit.prevent="addVariation(variation)">
                            <div class="form-row justify-content-center">
                                <div class="form-group">
                                <label for="inputEmail4">Variation Name</label>
                                <input v-model="variation.name" type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
          return {
              variation: {
                    id: '',
                    name: ''
                },
          }  
        },
        
        mounted() {
            
        },

        methods: {
            
            addVariation(variation) {
                let variationData = new FormData();
                variationData.append('name', variation.name);

                axios.post(this.$host_url + '/variation/new',
                        variationData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        alert('Variation Added!');
                        console.log(this.variation)
                    })
                    .catch(error => alert(error))
            }
        },
    }
</script>
