<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Pending Businesses
                            </h1>
                            <div class="page-header-subtitle">A list of all the businesses pending approval</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Pending Businesses
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                    <th>Role</th>
                                    <th>Fee Paid</th>
                                    <th>Approved</th>
                                    <th>African American Owned</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="14">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="user in users" v-bind:key="user.id">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.user_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.address }}</td>
                                    <td>{{ user.city }}</td>
                                    <td>{{ user.state }}</td>
                                    <td>{{ user.zip }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>{{ user.fee_paid == 1 ? 'Yes' : 'No' }}</td>
                                    <td>{{ user.approved == 1 ? 'Yes' : 'No' }}</td>
                                    <td>{{ user.african_american_owned == 1 ? 'Yes' : 'No' }}</td>
                                    <td>{{ user.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button @click="approveBusiness(user.id)" class="btn btn-outline-success">
                                            <semipolar-spinner
                                                v-if="spinnerLoading"
                                                :animation-duration="1700"
                                                :size="20"
                                                color="green"
                                                class="mr-2"
                                            />
                                            Approve<i class="fas fa-check ml-2"></i>
                                        </button>
                                        <button v-if="user.role != 'admin'" @click="deleteUser(user.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    
    import { SemipolarSpinner  } from 'epic-spinners'
    
    export default {
        
        components: {
            SemipolarSpinner
        },
        
        data() {
            return {
                isloading: true,
                users: {},
                spinnerLoading: false,
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchUsers();
        },

        methods: {
            
            fetchUsers() {
                // let config = {
                //     headers: {
                //         Authorization: `Bearer 79|FVS30eWHFFUutpfCRurUHMzoat4mEEYGLYvtxjTO`,
                //     }
                // }
                
                axios.get(this.$host_url + '/users/pending')
                    .then(res => {
                        this.isloading = false;
                        this.users = res.data.data.pending_users;
                        console.log(res.data.data);
                    })
            },

            deleteUser(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/user/delete/${id}`)
                        .then(res => {
                            alert('User Deleted!');
                            this.fetchUsers();
                        })
                        .catch(error => alert(error));
                }
            },

            approveBusiness(id) {
                this.spinnerLoading = true;
                let businessData = new FormData();
                businessData.append('id', id);

                axios.post(this.$host_url + '/business/approve',
                        businessData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        this.spinnerLoading = false;
                        Swal.fire(
                            'Success!',
                            'Business Approved Successfully!',
                            'success'
                        )
                        this.isloading = true;
                        this.fetchUsers();
                    })
                    .catch(error => alert(error))
            },
        },
    }
</script>

<style>

</style>