<template>
    <div> 
        <!-- <v-app> -->
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Products
                            </h1>
                            <div class="page-header-subtitle">A list of all the Products</div>
                            <!-- <v-alert type="success" color="green" elevation="24">Test Alert</v-alert>
                            <v-app>
                            <v-alert
  color="green"
  elevation="24"
  
  type="success"
>fdfdfdf</v-alert>
<v-checkbox
      
      :label="`Checkbox 1: ${checkbox.toString()}`"
    ></v-checkbox>
                            </v-app> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Products
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Sub Category</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="9">
                                        <content-placeholders :rounded="true">
                                            <content-placeholders-heading :img="true" />
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="product in products" v-bind:key="product.id">
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.name }}</td>
                                    <td><a :href="product.image" target="_blank"
                                            role="button"><img :src="product.image" alt="" width="200px"
                                            height="150px"></a></td>
                                    <td>{{ product.sub_category_id }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>${{ product.price }}</td>
                                    <td>{{ product.rating }}</td>
                                    
                                    <!-- <td><div v-for="variation in product.variations" v-bind:key="variation.id"><p>{{ variation.name }},</p></div></td>
                                    <td>
                                        <select v-model="product.variation" class="form-control">
                                            <option v-for="variation in variations" v-bind:key="variation.id"
                                            :value="variation.id" class="form-control">{{ variation.name }}</option>
                                        </select>
                                        <button class="btn btn-outline-primary form-control mt-2">Add</button>
                                    </td> -->
                                    <td>{{ product.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button @click="deleteProduct(product.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- </v-app> -->
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                products: {},
                variations: {},
                checkbox: true,
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchProducts();
        },

        methods: {
            
            fetchProducts() {
                axios.get(this.$host_url + '/products')
                    .then(res => {
                        this.isloading = false;
                        this.products = res.data.data.products;
                        this.variations = res.data.variations;
                        console.log(res.data.data);
                        console.log(res.data.variations);
                    })
            },

            deleteProduct(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/product/delete/${id}`)
                        .then(res => {
                            alert('Product Deleted!');
                            this.fetchProducts();
                        })
                        .catch(error => alert(error));
                }
            },
        },
    }
</script>

<style>

</style>