<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="star"></i></div>
                                    Variations
                                </h1>
                                <div class="page-header-subtitle">View Variations</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Variations
                    <button @click="newVariationValue()" class="btn btn-outline-primary shadow" style="float: right;">Add new value</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Add Product</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="4">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="variation in variations" v-bind:key="variation.id">
                                    <!-- <form @submit.prevent="addVariationToProduct(variation)"> -->
                                        <td>{{ variation.id }}</td>
                                        <td>{{ variation.name }}</td>
                                        <td>
                                            
                                            <select v-model="variation.product" class="form-control">
                                                <option v-for="product in products" v-bind:key="product.id"
                                                :value="product.id">{{ product.name }}</option>
                                            </select>
                                            <div class="row justify-content-center">
                                                <button @click="addVariationToProduct(variation)" class="btn btn-outline-primary mt-2">Add</button>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                    data-feather="more-vertical"></i></button>
                                            <button @click="deleteVariation(variation.id)"
                                                class="btn btn-icon text-danger"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                    <!-- </form> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                variations: {},
                products: {},
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchVariations();
        },

        methods: {
            
            fetchVariations() {
                axios.get(this.$host_url + '/variations')
                    .then(res => {
                        this.isloading = false;
                        this.variations = res.data.variations;
                        this.products = res.data.products;
                        console.log(res.data.variations);
                        console.log(res.data.products);
                    })
            },

            deleteVariation(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/variation/delete/${id}`)
                        .then(res => {
                            alert('Variation Deleted!');
                            this.fetchVariations();
                        })
                        .catch(error => alert(error));
                }
            },

            newVariationValue() {
                // console.log(id);
                this.$router.push('variationvalues');
                // this.$router.push({ path: `/variationvalues/${id}` })
            },

            addVariationToProduct(variation) {
                let variationData = new FormData();
                variationData.append('id', variation.id);
                variationData.append('name', variation.name);
                variationData.append('product', variation.product);

                axios.post(this.$host_url + '/variation/product/add',
                        variationData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        alert('Variation Added to Product!');
                    })
                    .catch(error => alert(error))
            }
        },
    }
</script>
