<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="star"></i></div>
                                    Variation Values
                                </h1>
                                <div class="page-header-subtitle">Add and View Variation Values</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <div class="container mt-n10">
            <div class="card">
                    <div class="card-header">New Variation Value</div>
                    <div class="card-body">
                        <form @submit.prevent="addVariationValue(variationvalue)">
                            <div class="form-row">
                                <div class="form-group col-4">
                                <label for="inputEmail4">Variation Name</label>
                                <select v-model="variationvalue.variation" @change="valueName= true" class="form-control form-control-solid">
                                        <option v-for="variation in variations" v-bind:value="{ id: variation.id, text: variation.name }"
                                            :key="variation.id">{{ variation.name }}</option>
                                </select>
                                </div>
                                <div v-if="valueName" class="form-group col-4">
                                <label for="inputEmail4">{{ variationvalue.variation.text }} Name</label>
                                <input v-model="variationvalue.name" type="text" class="form-control" placeholder="Name">
                                </div>
                                <div v-if="valueName" class="form-group col-4">
                                <label for="inputEmail4">{{ variationvalue.variation.text }} Price ($)</label>
                                <input v-model="variationvalue.price" type="number" step="0.01" class="form-control" placeholder="Price">
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="card mb-4 mt-3">
                <div class="card-header">All Variation Values
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Variation</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="5">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="variationvalue in variationValues" v-bind:key="variationvalue.id">
                                    <td>{{ variationvalue.id }}</td>
                                    <td>{{ variationvalue.name }}</td>
                                    <td>{{ variationvalue.variations.name }}</td>
                                    <td>${{ variationvalue.price }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button @click="deleteVariationValue(variationvalue.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                variations: {},
                valueName: false,
                variationvalue: {
                    id: '',
                    name: ''
                },
                variationValues: {},
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchVariations();
            this.fetchVariationValues();
        },

        methods: {
            
            fetchVariationValues() {
                this.isloading = true;
                axios.get(this.$host_url + '/variationvalues')
                    .then(res => {
                        this.isloading = false;
                        this.variationValues = res.data;
                        console.log(res.data);
                    })
            },

            fetchVariations() {
                axios.get(this.$host_url + '/variations')
                    .then(res => {
                        this.variations = res.data.variations;
                        console.log(this.variations);
                    })
            },

            addVariationValue(variationvalue) {
                // console.log(variationvalue.variation);
                let variationValueData = new FormData();
                variationValueData.append('name', variationvalue.name);
                variationValueData.append('variation_id', variationvalue.variation.id);
                variationValueData.append('price', variationvalue.price);

                axios.post(this.$host_url + '/variationvalue/new',
                        variationValueData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        alert('Variation Value Added!');
                        this.fetchVariationValues();
                        console.log(this.variationvalue)
                    })
                    .catch(error => alert(error))
            },

            deleteVariationValue(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/variationvalue/delete/${id}`)
                        .then(res => {
                            alert('Variation Value Deleted!');
                            this.fetchVariationValues();
                        })
                        .catch(error => alert(error));
                }
            },

            test() {
                // console.log(event.target.value);
                // console.log(variation.name);
            },
        },
    }
</script>
