@font-face {
  font-family: 'GoudyOldStyleT-Regular';
  src:  url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.eot') format('embedded-opentype'), url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.woff') format('woff'), url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.ttf')  format('truetype'), url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.svg#GoudyOldStyleT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


