
@font-face {
  font-family: 'Muli-Bold';
  src: url('Muli-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Bold';
  src:  url('Muli-Bold.eot') format('embedded-opentype'), url('Muli-Bold.woff') format('woff'), url('Muli-Bold.ttf')  format('truetype'), url('Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


