<template>
    <div>
        <section style="" class="banner">
      <div class="overlay">
        <h1>Products</h1>
      </div>
    </section>
    <section class="master_page">
      <div class="container">
        <div class="title-menu">
          <h2 class="sec-heading">Menu</h2>
          <p>A snoball is a sweet dessert made of finely shaved ice. This summertime treat got its start in New Orleans in the 1930s.</p>
        </div>
        <div class="row">
          <div class="col-12 col-sm-8 col-md-8 col-lg-8">
            <div class="inner-product-page-col-1">
              <div class="product-form">
                <form @submit.prevent="newOrder()">
                  <div class="form-group" v-for="(variation, index) in variations" :key="variation.id">
                      <div v-if="variation.name == 'flavour'">
                        <label class="main-label">Select Flavors:</label>
                        <!-- <div class="items-flavor">
                          <div class="plus-minus" v-for="variationvalue in variation.variation_values" v-bind:key="variationvalue.id">
                            <input type="checkbox" v-model="order.flavour" id="Amaretto" class="css-checkbox">
                            <label for="Amaretto" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               {{ variationvalue.name }}
                            </label>
                          </div>
                        </div> -->
                        <ul class="list-unstyled">
                            <li>
                                <div class="form-check">
                                  <select v-model="testing[index]" class="form-control">
                                      <option v-for="variationvalue in variation.variation_values" v-bind:key="variationvalue.id"
                                      :value="{variationValueId: variationvalue.id, variationId: variationvalue.variation_id, variationValueName: variationvalue.name, variationName: variation.name, price: variationvalue.price}" class="form-control">{{ variationvalue.name }}</option>
                                  </select>
                                </div>
                            </li>
                        </ul>
                      </div>
                      <div v-else>
                        <label class="main-label">Select {{ variation.name }}:</label>
                        <ul class="list-unstyled">
                            <li>
                                <div class="form-check">
                                  <select v-model="testing[index]" class="form-control">
                                      <option v-for="variationvalue in variation.variation_values" v-bind:key="variationvalue.id"
                                      :value="{variationValueId: variationvalue.id, variationId: variationvalue.variation_id, variationValueName: variationvalue.name, variationName: variation.name, price: variationvalue.price}" class="form-control">{{ variationvalue.name }}</option>
                                  </select>
                                </div>
                            </li>
                        </ul>
                      </div>
                  </div>
                  <!-- <div class="form-group">
                    <label class="main-label">Cup Size:</label>
                    <ul class="list-unstyled">
                      <li class="list-inline-item">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cup-size" id="small1" value="option1" checked>
                          <label class="form-check-label" for="small1">
                            Small
                          </label>
                        </div>
                      </li>
                      <li class="list-inline-item">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cup-size" id="medium1" value="option2">
                          <label class="form-check-label" for="medium1">
                            Medium
                          </label>
                        </div>
                      </li>
                      <li class="list-inline-item">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cup-size" id="large1" value="option3">
                          <label class="form-check-label" for="large1">
                            Large
                          </label>
                        </div>
                      </li>
                      <li class="list-inline-item">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cup-size" id="jumbo1" value="option4">
                          <label class="form-check-label" for="jumbo1">
                            Jumbo
                          </label>
                        </div>
                      </li>
                      <li class="list-inline-item">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cup-size" id="spotsize1" value="option5">
                          <label class="form-check-label" for="spotsize1">
                            Spot Size
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div> -->
                  <!-- <div class="form-group">
                    <label class="main-label">Base:</label>
                    <ul class="list-unstyled">
                      <li class="list-inline-item">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Corn
                          </label>
                        </div>
                      </li>
                      <li class="list-inline-item">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                            Cup
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div> -->
                  <!-- <div class="form-group">
                    <label class="main-label">Select Flavors:</label>
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="items-flavor">
                          <div class="plus-minus">
                            <input type="checkbox" name="Amaretto" id="Amaretto" class="css-checkbox">
                            <label for="Amaretto" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Amaretto
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="bahama-mama" id="bahama-mama" class="css-checkbox">
                            <label for="bahama-mama" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Bahama Mama
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="black-berry" id="black-berry" class="css-checkbox">
                            <label for="black-berry" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Black Berry
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="blue-berry" id="blue-berry" class="css-checkbox">
                            <label for="blue-berry" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Blue Berry
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="blue-coton-candy" id="blue-coton-candy" class="css-checkbox">
                            <label for="blue-coton-candy" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Blue Coton Candy
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="blue-bubble-gum" id="blue-bubble-gum" class="css-checkbox">
                            <label for="blue-bubble-gum" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                                Blue Bubble gum
                            </label>
                          </div>
                        </div>  
                      </div>
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="items-flavor">
                          <div class="plus-minus">
                            <input type="checkbox" name="Amaretto2" id="Amaretto2" class="css-checkbox">
                            <label for="Amaretto2" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Amaretto
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="bahama-mama2" id="bahama-mama2" class="css-checkbox">
                            <label for="bahama-mama2" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Bahama Mama
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="black-berry2" id="black-berry2" class="css-checkbox">
                            <label for="black-berry2" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Black Berry
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="blue-berry2" id="blue-berry2" class="css-checkbox">
                            <label for="blue-berry2" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Blue Berry
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="blue-coton-candy2" id="blue-coton-candy2" class="css-checkbox">
                            <label for="blue-coton-candy2" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                               Blue Coton Candy
                            </label>
                          </div>
                          <div class="plus-minus">
                            <input type="checkbox" name="blue-bubble-gum2" id="blue-bubble-gum2" class="css-checkbox">
                            <label for="blue-bubble-gum2" class="css-label">
                              <span class="circle">
                                <span class="fa fa-plus"></span>
                              </span>
                              <span class="circle">
                                <span class="fa fa-minus"></span>
                              </span>
                                Blue Bubble gum
                            </label>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="form-group">
                    <label class="main-label">Select Topping:</label>
                    <select>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>  -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <label class="main-label">Pickup Time:</label>
                        <!-- <input v-model="order.time" id="timepicker" class="form-control" /> -->
                        <input type="time" v-model="order.time" class="form-control">
                      </div>
                      <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                        <label class="main-label">Pickup Location:</label>
                        <select v-model="order.outlet" class="form-control">
                          <option v-for="outlet in outlets" v-bind:key="outlet.id"
                          :value="outlet.id" class="form-control">{{ outlet.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div> 
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <label class="main-label">Pickup Type:</label>
                        <select v-model="order.pickup" class="form-control">
                          <option>Dine-in</option>
                          <option>Takeaway</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="main-label">Contact Information:</label>
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Name:</label>
                        <input v-model="user.name" type="text" class="form-control" placeholder="">
                      </div>
                      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Phone:</label>
                        <input type="text" v-model="user.phone" class="form-control" placeholder="">
                      </div>
                      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Email:</label>
                        <input type="email" v-model="user.email" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="button-order text-center">
                    <button class="btn btn-order-now">Order Now <i class="fas fa-arrow-right"></i></button>
                  </div>
                </form>
              </div>              
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <div class="inner-product-page-col-2">
              <div class="product-form">
                <h3>Your order summary</h3>
                <dl class="row">
                    <!-- <span class="row" v-for="summ in testing" :key="summ.id">
                      <dt class="col-sm-9"><i class="fas fa-check-circle"></i> {{ summ.variationValueName }}</dt>
                      <dd class="col-sm-3">$ {{ summ.price }}</dd>
                    </span> -->
                    <dt class=""><i class="fas fa-check-circle"></i> Blue Berry</dt>
                    <dd class="" style="float: right;">$ 0.70</dd>
                    <dt class="col-sm-9"><i class="fas fa-check-circle"></i> Blue Bubble gum</dt>
                    <dd class="col-sm-3">$ 0.50</dd>
                    <dt class="col-sm-9 subtotal">Subtotal</dt>
                    <dd class="col-sm-3 subtotal">$ 0</dd>
                </dl>
                <!-- <button class="btn btn-order-now">Order Now <i class="fas fa-arrow-right"></i></button> -->
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                products: {},
                variations: {},
                outlets: {},
                outlet: {},
                user: {
                  name: '',
                  phone: '',
                  email: ''
                },
                order: {},
                testing: [],
                orderTotal: 0,
                variationvalue: '',
            }
        },
        
        mounted() {
            // console.log('Component Mounted')
        },

        created() {
            this.fetchProductInfo();
        },

        methods: {

            fetchProductInfo() {
                axios.get(this.$host_url + '/productinfo')
                    .then(res => {
                        this.isloading = false;
                        this.products = res.data.products;
                        this.variations = res.data.variations;
                        this.categories = res.data.categories;
                        this.outlets = res.data.outlets;
                        console.log(res.data.products);
                        console.log(res.data.variations);
                        console.log(res.data.categories);
                        console.log(res.data.outlets);
                    })
            },

          newOrder() {
            
            this.orderTotal = 0;
            for(var i=0; i< this.testing.length; i++) {
              this.orderTotal += this.testing[i].price;
              console.log('total '+ this.orderTotal);
              console.log(this.testing[i].price);
            }
            
            // console.log(this.testing)
            
            let orderData = new FormData();
            orderData.append('order', JSON.stringify( this.testing));
            orderData.append('orderTime', this.order.time);
            orderData.append('orderOutlet', this.order.outlet);
            orderData.append('orderPickup', this.order.pickup);
            orderData.append('name', this.user.name);
            orderData.append('phone', this.user.phone);
            orderData.append('email', this.user.email);
            orderData.append('orderTotal', this.orderTotal);
            // console.log(this.testing);

            axios.post(this.$host_url + '/order/new',
                    orderData, {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    })
                .then(data => {
                    Swal.fire(
                      'Order Confirmed!',
                      'Your order has been placed successfully!',
                      'success'
                    )
                })
                .catch(error => alert(error))
          }
            
        },
    }
</script>

<style>

</style>